.han-spread-context-menu {
  display: block;
  position: absolute;
  min-height: 100px;
  min-width: 200px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  max-height: calc(100vh - 70px);
  z-index: 99999;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.han-spread-context-menu ul {
  margin: 0;
  padding: 0;
}
.han-spread-context-menu .menuitem-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}
.han-spread-context-menu .menuitem-content {
  padding: 6px 0;
  color: #202124;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  border: none;
}
.han-spread-context-menu .menuitem-content.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.han-spread-context-menu .menuitem-content:hover {
  background-color: #f2f2f2;
}
.han-spread-context-menu .menuitem-content.has-child:before {
  font-family: "FontAwesome";
  content: "\f105";
  position: absolute;
  right: 10px;
}
.han-spread-context-menu .menuitem-content .menuitem-prefix {
  color: #ccc;
  position: absolute;
  right: 10px;
}
.han-spread-context-menu .menuitem-content .menuitem-icon {
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.han-spread-context-menu .menuitem-content .menuitem-sub-container {
  right: -200px;
  top: 0;
  display: none;
}
.han-spread-context-menu .menuitem-content:hover > .menuitem-sub-container {
  display: block;
}


/* color picker */

.han-spread-color-picker {
  width: 260px;
  background: white;
  border: 0px solid rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
  border-radius: 4px;
  position: absolute;
  z-index: 99999;
}

.han-spread-color-picker .color-picker-arrow {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 9px 10px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -11px;
  left: 64px;
}

.han-spread-color-picker .color-picker-arrow-main {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 9px 10px;
  border-color: transparent transparent white;
  position: absolute;
  top: -10px;
  left: 64px;
}

.han-spread-color-picker .color-picker-container {
  padding: 10px;
  display: inline-block;
  width: 100%;
}

.han-spread-color-picker .color-picker-container .color-picker-item {
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: relative;
  outline: none;
  float: left;
  margin: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.han-spread-color-picker .color-picker-container .color-picker-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 999;
}

.han-spread-color-picker .color-picker-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px 10px;
}

.han-spread-color-picker .color-picker-footer .color-input-line {
  position: relative;
}

.han-spread-color-picker .color-picker-footer .color-input-line input {
  width: 100%;
  margin-bottom: 1px;
  border-radius: 2px;
  background-clip: padding-box;
  border: solid 1px #999999;
  color: #222222;
  font-size: 14px;
  background: #FFF;
  height: 46px;
  position: relative;
  z-index: 2;
  padding: 4px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: border 0.5s, padding 0.5s;
  transition: border 0.5s, padding 0.5s;
}

.han-spread-color-picker .color-picker-footer .color-input-line input:focus, .han-spread-color-picker .color-picker-footer .color-input-line input.focused {
  border: solid 2px #0098f7;
  padding: 3px 11px;
}

.han-spread-color-picker .color-picker-footer .color-input-line input:focus + label, .han-spread-color-picker .color-picker-footer .color-input-line input.focused + label {
  top: -9px;
  font-size: 12px;
}

.han-spread-color-picker .color-picker-footer .color-input-line label {
  position: absolute;
  left: 10px;
  z-index: 10;
  top: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #FFF;
  padding: 0 5px;
  pointer-events: none;
}

.han-spread-color-picker .color-picker-footer button {
  background: none;
  border: none;
  outline: none;
  color: #54acd2;
  padding: 0 10px;
  margin: 0 10px;
}

.han-spread-color-picker .color-picker-footer button:hover {
  background-color: #f2f2f2;
}
/*# sourceMappingURL=color-picker.css.map */

.han-spread-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  border-left: 1px solid #e4e4e4;
  border-bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.han-spread-toolbar-second {
  height: auto;
  flex-wrap: wrap;
}

.han-spread-toolbar ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 20px;
  background-color: #fff;
}

.han-spread-toolbar ::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  background-clip: content-box;
  border-radius: 20px;
  background-color: #ddd;
}

.han-spread-toolbar * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.han-spread-toolbar .han-spread-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  position: relative;
  font-weight: 500;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  position: relative;
}

.han-spread-toolbar .han-spread-button:hover, .han-spread-toolbar .han-spread-button.a {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 2px;
}

.han-spread-toolbar .han-spread-button.disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.han-spread-toolbar .han-spread-button .menuitem-prefix {
  position: absolute;
  right: 5px;
  color: #888;
}

.han-spread-toolbar .han-spread-button.has-child > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.han-spread-toolbar .han-spread-button.has-child > span:after {
      font-family: "FontAwesome";
      content: "\f107";
      padding-left: 5px;
  }

.han-spread-toolbar .han-spread-button.has-child .han-spread-toolbar-children {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  background-color: #FFF;
  white-space: nowrap;
  min-width: 200px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  display: none;
  max-height: calc(100vh - 100px);
}

.han-spread-toolbar .han-spread-button.has-child .han-spread-toolbar-children:not(.fn) {
  overflow: auto;
}

.han-spread-toolbar .han-spread-button.has-child .han-spread-toolbar-children.fn {
  margin-top: 1rem;
  margin-left: -3rem;
}

.han-spread-toolbar .han-spread-button.has-child .han-spread-toolbar-children .toolbar-child-item {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 13px;
}

.han-spread-toolbar
.han-spread-button.has-child
.han-spread-toolbar-children
.toolbar-child-item.has-child:after {
  font-family: "FontAwesome";
  content: "\f105";
  position: absolute;
  right: 10px;
}

.han-spread-toolbar .han-spread-button.has-child .han-spread-toolbar-children .toolbar-child-item svg {
  margin-right: 5px;
}

.han-spread-toolbar .han-spread-button.has-child .han-spread-toolbar-children .toolbar-child-item:hover, .han-spread-toolbar .han-spread-button.has-child .han-spread-toolbar-children .toolbar-child-item.active {
  border-radius: 4px;
  background: #f2f2f2;
}

.han-spread-toolbar .han-spread-button.has-child .han-spread-toolbar-children .toolbar-child-sub {
  position: absolute;
  right: -270px;
  top: -30px;
  width: 300px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
}

.han-spread-toolbar .han-spread-button.has-child .han-spread-toolbar-children .toolbar-child-sub .toolbar-child-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.han-spread-toolbar .han-spread-button.has-child .han-spread-toolbar-children .toolbar-child-sub .toolbar-child-item .muted {
  display: none;
  clear: both;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.han-spread-toolbar .han-spread-button.has-child .han-spread-toolbar-children .toolbar-child-sub .toolbar-child-item:hover .muted {
  display: block;
}

.han-spread-toolbar .han-spread-button.has-child.a .han-spread-toolbar-children {
  display: block;
}

.han-spread-toolbar .han-spread-button .color-prefix {
  position: absolute;
  width: 15px;
  height: 2.5px;
  bottom: 10px;
  left: 17px;
}

.han-spread-toolbar .separator {
  height: 50%;
  width: 1px;
  background: #dfdfdf;
  position: relative;
  margin: 0 2px;
}

/* End toolbar  */

.print-container {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #d0d0d0;
  z-index: 9999999;
}

.print-container .print-paper {
  margin: 15px auto;
  page-break-before: auto;
  page-break-after: always;
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 3px rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 3px rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.2);
  height: 89vh;
  background: #FFF;
  padding: 5px;
  overflow: auto;
  position: relative;
}

.print-container .print-side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  border-left: 2px solid #ccc;
  background: #fff;
  padding: 1rem;
  height: 90vh;
}

.print-container .row {
    display: flex;
}

.m-0 {
  margin: 0!important;
  }

.print-container .row .col {
  max-width: 100%;
  flex-basis: 0;
  flex-grow: 1;
}

.print-container .bg-default {
  background-color: #172b4d!important;
}

.print-container .navbar {
  position: relative;
  display: flex;
  padding: 1rem 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.print-container .navbar-expand-lg .navbar-collapse {
  display: flex!important;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
}

.print-container .navbar-expand-lg .navbar-nav {
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.print-container .container-fluid {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.print-container table td {
      overflow: hidden;
      box-sizing: border-box;
      word-break: break-all;
      white-space: pre;
}

.ml-lg-auto, .mx-lg-auto {
  margin-left: auto!important;
}

.han-spread-moveable {
  position: absolute;
  margin: 0;
  z-index: 20;
}

.spread-full-btn {
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: rgba(65, 69, 88, 0.1) 0px 7px 14px 0px, rgba(0, 0, 0, 0.07) 0px 3px 6px 0px;
  padding: 6px 13px;
  border-color: transparent;
  background-color: #f2f2f5;
  display: flex;
  align-items: center;
  color: #545454;
  transition: all 0.3s;
  transition-delay: 0.6s;
}

.spread-full-btn:hover {
  color: #000;
  background-color: #FFF;
}

.spread-full-btn span {
  padding-left: 8px;
}

body.spread-fullscreen-mode #wrapper .tui-grid[data="spreadGridData"].active-full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  animation: tuiGridAppear 1s;
}

body.spread-fullscreen-mode .split-pane,
body.spread-fullscreen-mode .split-pane-component {
  z-index: auto !important;
}


@keyframes tuiGridAppear {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}


/* Animation */

.han-spread-toolbar :root {
  --balloon-color: rgba(16, 16, 16, 0.95);
  --balloon-font-size: 12px;
  --balloon-move: 4px;
}
.han-spread-toolbar button[aria-label][data-balloon-pos] {
  overflow: visible;
}
.han-spread-toolbar [aria-label][data-balloon-pos] {
  position: relative;
  cursor: pointer;
}
.han-spread-toolbar [aria-label][data-balloon-pos]:after {
  opacity: 0;
  pointer-events: none;
  transition: all 0.18s ease-out 0.18s;
  text-indent: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
  font-size: var(--balloon-font-size);
  background: var(--balloon-color);
  border-radius: 2px;
  color: #fff;
  content: attr(aria-label);
  padding: 0.5em 1em;
  position: absolute;
  white-space: nowrap;
  z-index: 99999;
  background-color: #2f2f2f;
}
.han-spread-toolbar [aria-label][data-balloon-pos]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: var(--balloon-color);
  opacity: 0;
  pointer-events: none;
  transition: all 0.18s ease-out 0.18s;
  content: "";
  position: absolute;
  z-index: 10;
}
.han-spread-toolbar [aria-label][data-balloon-pos]:hover:before, .han-spread-toolbar [aria-label][data-balloon-pos]:hover:after, .han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-visible]:before, .han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-visible]:after, .han-spread-toolbar [aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:before, .han-spread-toolbar [aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:after {
  opacity: 1;
  pointer-events: none;
}
.han-spread-toolbar [aria-label][data-balloon-pos].font-awesome:after {
  font-family: FontAwesome, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-break]:after {
  white-space: pre;
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-break][data-balloon-length]:after {
  white-space: pre-line;
  word-break: break-word;
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-blunt]:before, .han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-blunt]:after {
  transition: none;
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="up"]:after {
  bottom: 100%;
  left: 50%;
  margin-bottom: 10px;
  transform: translate(-50%, var(--balloon-move));
  transform-origin: top;
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="up"]:before {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, var(--balloon-move));
  transform-origin: top;
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="up"]:hover:after, .han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="up"][data-balloon-visible]:after {
  transform: translate(-50%, 0);
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="up"]:hover:before, .han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="up"][data-balloon-visible]:before {
  transform: translate(-50%, 0);
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="up-left"]:after {
  bottom: 100%;
  left: 0;
  margin-bottom: 10px;
  transform: translate(0, var(--balloon-move));
  transform-origin: top;
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="up-left"]:before {
  bottom: 100%;
  left: 5px;
  transform: translate(0, var(--balloon-move));
  transform-origin: top;
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="up-left"]:hover:after, .han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="up-left"][data-balloon-visible]:after {
  transform: translate(0, 0);
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="up-left"]:hover:before, .han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="up-left"][data-balloon-visible]:before {
  transform: translate(0, 0);
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="up-right"]:after {
  bottom: 100%;
  right: 0;
  margin-bottom: 10px;
  transform: translate(0, var(--balloon-move));
  transform-origin: top;
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="up-right"]:before {
  bottom: 100%;
  right: 5px;
  transform: translate(0, var(--balloon-move));
  transform-origin: top;
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="up-right"]:hover:after, .han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="up-right"][data-balloon-visible]:after {
  transform: translate(0, 0);
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="up-right"]:hover:before, .han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="up-right"][data-balloon-visible]:before {
  transform: translate(0, 0);
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="down"]:after {
  left: 50%;
  margin-top: 10px;
  top: 100%;
  transform: translate(-50%, calc(var(--balloon-move) * -1));
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="down"]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: var(--balloon-color);
  left: 50%;
  top: 100%;
  transform: translate(-50%, calc(var(--balloon-move) * -1));
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="down"]:hover:after, .han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="down"][data-balloon-visible]:after {
  transform: translate(-50%, 0);
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="down"]:hover:before, .han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="down"][data-balloon-visible]:before {
  transform: translate(-50%, 0);
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="down-left"]:after {
  left: 0;
  margin-top: 10px;
  top: 100%;
  transform: translate(0, calc(var(--balloon-move) * -1));
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="down-left"]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: var(--balloon-color);
  left: 5px;
  top: 100%;
  transform: translate(0, calc(var(--balloon-move) * -1));
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="down-left"]:hover:after, .han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="down-left"][data-balloon-visible]:after {
  transform: translate(0, 0);
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="down-left"]:hover:before, .han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="down-left"][data-balloon-visible]:before {
  transform: translate(0, 0);
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="down-right"]:after {
  right: 0;
  margin-top: 10px;
  top: 100%;
  transform: translate(0, calc(var(--balloon-move) * -1));
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="down-right"]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: var(--balloon-color);
  right: 5px;
  top: 100%;
  transform: translate(0, calc(var(--balloon-move) * -1));
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="down-right"]:hover:after, .han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="down-right"][data-balloon-visible]:after {
  transform: translate(0, 0);
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="down-right"]:hover:before, .han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="down-right"][data-balloon-visible]:before {
  transform: translate(0, 0);
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="left"]:after {
  margin-right: 10px;
  right: 100%;
  top: 50%;
  transform: translate(var(--balloon-move), -50%);
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="left"]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: var(--balloon-color);
  right: 100%;
  top: 50%;
  transform: translate(var(--balloon-move), -50%);
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="left"]:hover:after, .han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="left"][data-balloon-visible]:after {
  transform: translate(0, -50%);
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="left"]:hover:before, .han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="left"][data-balloon-visible]:before {
  transform: translate(0, -50%);
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="right"]:after {
  left: 100%;
  margin-left: 10px;
  top: 50%;
  transform: translate(calc(var(--balloon-move) * -1), -50%);
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="right"]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: var(--balloon-color);
  left: 100%;
  top: 50%;
  transform: translate(calc(var(--balloon-move) * -1), -50%);
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="right"]:hover:after, .han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="right"][data-balloon-visible]:after {
  transform: translate(0, -50%);
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="right"]:hover:before, .han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-pos="right"][data-balloon-visible]:before {
  transform: translate(0, -50%);
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-length="small"]:after {
  white-space: normal;
  width: 80px;
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-length="medium"]:after {
  white-space: normal;
  width: 150px;
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-length="large"]:after {
  white-space: normal;
  width: 260px;
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-length="xlarge"]:after {
  white-space: normal;
  width: 380px;
}
@media screen and (max-width: 768px) {
  .han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-length="xlarge"]:after {
      white-space: normal;
      width: 90vw;
 }
}
.han-spread-toolbar [aria-label][data-balloon-pos][data-balloon-length="fit"]:after {
  white-space: normal;
  width: 100%;
}
.han-spread-toolbar .a[aria-label][data-balloon-pos]:after, .han-spread-toolbar .a[aria-label][data-balloon-pos]:before {
  display: none;
}
