.form-header {
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;

    .form-group {
        flex: 1;
        input[type="text"] {
            border: none;
            font-size: 16px;
            
        }
    }

    .actions {
        padding-left: 2rem;
    }
    
}

.han-loading {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgba(146, 44, 136, 0.2);
    border-top-color: #922c88;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
    position: absolute;
    z-index: 1;
  
    @keyframes spin {
      to {
        -webkit-transform: rotate(1turn);
      }
    }
  }